@model IEnumerable<Discount>

@{
    ViewData["Title"] = "View Discounts";
}
@if (User.IsInRole("Manager"))
{
    <style>
        .table:hover {
            cursor: pointer;
        }
    </style>

    <h2>View</h2>

    <p>
        <a asp-action="CreateDiscount">Create New</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="data-row">
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a href="@Url.Action("AssignDiscounts")/@Html.DisplayFor(model => item.Id)" class="btn btn-primary">Assign</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts {
        <script>
            $(document).ready(function ($) {
                $(".data-row").click(function () {
                    window.location = $(this).data("href");
                });
            });
        </script>
    }
}

